<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="examplesTestNg1" >
        <classes>
            <class name="BMetodsTest" />

        </classes>
    </test>
<test name="examplesTestNg2" >
    <classes>
        <class name="MetodsTest" />
    </classes>
</test>
<test name="examplesTestNg3" >
    <classes>
        <class name="AMetodsTest" />
    </classes>
</test>
</suite>
